.side-bar
  .side-bar__header
    .side-bar__box
      .side-bar__name
        = current_user.name

      .side-bar__icons
        = link_to "#" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog')

  .side-bar__group1
    .side-bar__group1-name
      techcamp
    .side-bar__group1-message
      まだメッセージがありません

  .side-bar__group2
    .side-bar__group2-name
      hoge-hoge
    .side-bar__group2-message
      fuga-fuga